*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    filter: grayscale(0.1);
}

/* menu */
.logo{
    height: 8vh;
    width: 20%;
    font-size: 25px;
}
.nav{
    display: flex;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
}
ul{
    width: 100%;
    display: flex;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
}
ul li{
    height: 8vh;
    
    width: 100%;
}
ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}
.logo,ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px){
    .nav{
        flex-direction: column;
        position: relative;
    }
    .logo,ul li{
        width: 100%;
        height: 5vh;
        border: 1px solid;
    }
    ul{
        display: flex;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}

@media (min-width:600px)  and (max-width:1000px){
    .logo{
        height: 8vh;
        width: 20%;
        font-size: 19px;
    }
    .nav{
        background: #fff;
    }
    ul{
        width: 100%;
        display: flex;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
    }
    ul li{
        height: 8vh;
        
        width: 100%;
    }
    ul li a{
        text-decoration: none;
        font-size: 17px;
        color: #fff;
    }
    .logo,ul li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (min-width:1000px){
    .logo{
        height: 8vh;
        width: 20%;
        font-size: 25px;
    }
    .nav{
        background: #fff;
    }
    ul{
        width: 100%;
        display: flex;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
    }
    ul li{
        height: 8vh;
        
        width: 100%;
    }
    ul li a{
        text-decoration: none;
        font-size: 25px;
        color: #fff;
    }
    .logo,ul li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* .slideshow */
.slide{
    background-image: url(../images/tch4.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shape{
    background:rgba(0,0,0,0.4);
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shape p{
    font-size: 50px;
    color: #ffff;
}
.shape button{
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 25px;
    border-radius:20px;
    background:linear-gradient(to right,blue,rgb(21, 171, 221));
    border:none;
}
.shape button a{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width:600px){
    .slide{
        height: 320px;
    }
    .shape{
        background:rgba(0,0,0,0.4);
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 10px;
    }
    .shape p{
        font-size: 20px;
        color: #ffff;
        text-transform: uppercase;
    }
    .shape button{
        margin-top: 60px;
        padding: 15px 40px;
        font-size: 20px;
        border-radius:20px;
        background:linear-gradient(to right,blue,rgb(21, 171, 221));
        border:none;
    }
    .shape button a{
        text-decoration: none;
        color: #fff;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .slide{
        background-image: url(../images/tch4.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shape{
        background:rgba(0,0,0,0.5);
        width: 80%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .shape p{
        font-size: 40px;
        color: #ffff;
    }
    .shape button{
        margin-top: 30px;
        padding: 15px 40px;
        font-size: 25px;
        border-radius:20px;
        background:linear-gradient(to right,blue,rgb(21, 171, 221));
        border:none;
    }
    .shape button a{
        text-decoration: none;
        color: #fff;
        font-size: 25px;
    }
}
@media (min-width:1000px){
    .slide{
        background-image: url(../images/tch4.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shape{
        background:rgba(0,0,0,0.4);
        width: 70%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .shape p{
        font-size: 50px;
        color: #ffff;
    }
    .shape button{
        margin-top: 30px;
        padding: 20px 40px;
        font-size: 25px;
        border-radius:20px;
        background:linear-gradient(to right,blue,rgb(21, 171, 221));
        border:none;
    }
    .shape button a{
        text-decoration: none;
        color: #fff;
    }
}
/*about */
.title{
    padding-left: 10px;
    margin: 20px 0px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: #fff;
    
}
.about h1,.education h1,.skill h1,.contact h1{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.content_about{
    display: flex;
    padding: 0;
    margin-left: 10px;
}
.content_about .photo{
    flex:30%;
}
.photo img{
    width: 90%;
    height: 80vh;
    margin-left: 20px;
}
.content_about .paragraph{
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.paragraph h1{
    font-size: 50px;
    color: #fff;
}
.paragraph p{
    font-size: 20wv;
    color: #fff;
    box-sizing: border-box;
}

.content_about .content{
    flex: 60%;
    display: flex;
    border: 2px solid  #fff;
    margin-right: 20px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);

}

@media screen and (max-width:600px){
    .content_about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .photo{
        width: 100%;
    }
    .paragraph{
        flex:100%;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 160vh;
    }
    .paragraph h1{
        font-size: 30px;
    }
    
}


@media (min-width:600px) and (max-width:1000px){
    .content_about{
        display: flex;
        padding: 0;
        margin-left: 20px;
        flex-direction: column;
    }
    .content_about .photo{
        flex:30%;
    }
    .photo img{
        width: 90%;
        height: 100vh;
        margin-left: 20px;
    }
    .content_about .paragraph{
        margin: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    .paragraph h1{
        font-size: 50px;
        color: #fff;
    }
    .paragraph p{
        font-size: 20px;
        color: #fff;
    }
    
    .content_about .content{
        flex: 60%;
        display: flex;
        border: 2px solid  #fff;
        margin-right: 20px;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }
}
@media screen and (min-width:1000px){
    .content_about{
        display: flex;
        padding: 0;
        margin-left: 10px;
    }
    .content_about .photo{
        flex:30%;
    }
    .photo img{
        width: 90%;
        height: 80vh;
        margin-left: 20px;
    }
    .content_about .paragraph{
        margin: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    .paragraph h1{
        font-size: 50px;
        color: #fff;
    }
    .paragraph p{
        color: #fff;
    }
    
    .content_about .content{
        flex: 60%;
        display: flex;
        border: 2px solid  #fff;
        margin-right: 20px;
        background-color: #020b3b;
    }
}
/*education*/

.card-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.card{
    border:3px solid rgb(240, 227, 227);
    border-radius: 30px;
    height: 70vh;
    box-shadow: 0 0 15px;
}
.card img{
    border:3px solid rgb(190, 182, 182);
    border-radius: 30px 30px 0 0;
    width: 50vh;
    height: 45vh;
    box-shadow: 0 0 20px;
}
.card-text{

    width: 50vh;
    font-size: 25px;
    height: 10vh;
    margin-top: 10px;
}

.card-button{
    width:50vh;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-button button{
    font-size: 25px;
    padding: 20px;
    background: gray;
    border:none;
    border-radius: 10px;
    margin-top: 15px;
}
@media screen and (max-width:650px){
    .card-content{
        display: flex;
        flex-direction: column;
        height: 300vh;
    }
    .card{
        height: 80vh;
    }
    .card-text{
        font-size: 20px;
    }
    .card-button{
        margin-top: 40px;
    }
    .card-button button{
        padding: 10px;
    }
    
    
}
@media (min-width:650px) and (max-width:1000px){
    .card{
        width: 35vh;
    }
    .card-image img{
        width: 98%;
    }
    .card-text{
        font-size: 13px;
        width: 100%;
    }
    .card-button{
        width: 30vh;
        height: 10vh;
    }
    .card-button button{
        font-size: 15px;
        padding:10px;
    }
}
@media (max-width:1450px) and (min-width:1000px){
    .card{
        width: 60vh;
        height: 80vh;
    }
    .card-image img{
        width: 99%;
    }
    .card-text{
        font-size: 20px;
        width: 100%;
    }
    .card-button{
        width: 100%;
        height: 10vh;
        
    }
    .card-button button{
        font-size: 18px;
        padding:18px;
        margin-top: 40px;
    }
}
/*skill*/
.main_course{
    display: flex;
    flex-direction: column;

}
.repository{
    display: flex;

}
.box{
    flex: 30%;
    border: 3px solid gray;
    box-shadow: 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
}
.box img{
    width: 100%;
    height: 90%;
}
.box p{
    font-size: 35px;
}
.description{
    border:3px solid gray;
    flex: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px;
    margin: 10px 0px;
}
.description p{
    font-size: 30px;
    padding: 30px;
}
@media screen and (max-width:800px){
    .main_course{
        display: flex;
        flex-direction: column;
    }
    .repository{
        display: flex;
        flex-direction: column;
    }
    .description{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .description p{
        font-size: 20px;
    }
    .box{
        width: 100%;
    }
}
@media (min-width:600px) and (max-width:800px){
    
}
@media screen and (min-width:1000px){
    
}
/* contact us */

/* map */
.map iframe{
    width: 100%;
    height: 70vh;
}
/* footer */
.footer{
    width: 100%;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    display: flex;
    padding: 0;
    margin: 0;
}
.footer h2{
    padding:10px 0px;
    font-size: 30px;
}
.contact_by{
    float: left;
    width: 100%;
    height: 90%;
    margin-left: 20px;
    
}
.contact_by p,h2{
    padding-bottom: 10px;
}
.form_contact form{
    float: left;
    width: 100%;
    height: 90%;
    display: flex;
}
.column1{
    flex: 50%;
}
.column2{
    float: 50%;
}
.column1,.column2{
    float: left;
    flex-direction: column;
    padding: 10px;
}
.column1 input{
    width: 100%;
    height: 16%;
    margin: 10px 0;
    padding: 5px;
}
.column2 textarea,input{
    width: 100%;

}
.column2 textarea{
    height: 50%;
    margin:10px 0;
    padding: 5px;
    width: 97%;
}
.column2 input{
    height: 21%;
    margin-top: 7px;
    background:rgb(6, 6, 58);
    color: #fff;
    border:none;
    font-size: 20px;
    padding: 5px;
}
.contact_by li{
    font-size: 30px;
    margin-top: 10px;
}
@media screen and (max-width:600px){
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contact_by{
        display: flex;
        flex-wrap: wrap;
    }
    .column2 input{
        margin-top: 4px;
    }
}


/*copy right*/

.copyright{
    background: rgba(0,0,0,0.9);
    padding: 30px;
    text-align: center;
    color: #fff;
}