*{
    padding: 0;
    margin: 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    
}
.menu .namelogo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: balsamiq sans-serif;
}
.menu ul{
    display: flex;
    list-style: none;
    background: #ec2004;
    width: 77%;
    height: 10vh;
    padding: 0px 0px 0px 100px;
    align-items: center;
    clip-path: polygon(8% 0, 100% 0%, 100% 93%, 17% 90%);
}
.menu ul li a{
    text-decoration: none;
    margin:0px 60px;
    font-size: 25px;
    color:black;
}